{% extends 'base.html' %}
{% block conteudo %}
<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
  {% for contacto in contactos %}
    <tr>
      <td>{{ contacto.id }}</td>
      <td>
        <a href="{% url 'detalhe' contacto.id %}">{{ contacto.nome }}</a>
      </td>
      <td>{{ contacto.apelido }}</td>
      <td>{{ contacto.telefone }}</td>
      <td>{{ contacto.categoria }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in contactos.paginator.page_range %}
    {% if contactos.number == pagina %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endblock %}