{% extends 'base.html' %}
{% block titulo %}Registo | {% endblock %}
{% block conteudo %}
<h1 class="mt-3 mb-3">Registo</h1>
<form method="POST" action="{% url 'registo' %}">
    {% csrf_token %}
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" class="form-control" id="nome" placeholder="Insira o seu nome" value="{{ request.POST.nome }}">
  </div>
  <div class="form-group">
    <label for="apelido">Apelido:</label>
    <input type="text" name="apelido" class="form-control" id="apelido" placeholder="Insira o seu apelido" value="{{ request.POST.apelido }}">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Endereço de e-mail:</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira endereço de e-mail" value="{{ request.POST.email }}">
  </div>
  <div class="form-group">
    <label for="utilizador">Utilizador:</label>
    <input type="text" name="utilizador" class="form-control" id="utilizador" placeholder="Insira o nome de utilizador" value="{{ request.POST.utilizador }}">
  </div>
  <div class="form-group">
    <label for="password1">Password:</label>
    <input type="password" name="password1" class="form-control" id="password1" placeholder="Insira a sua password">
  </div>
  <div class="form-group">
    <label for="password2">Verificação de password:</label>
    <input type="password" name="password2" class="form-control" id="password2" placeholder="Repita a sua password">
  </div>
    <button type="reset" class="btn btn-warning">Limpar</button>
    <button type="submit" class="btn btn-primary">Registar</button>
</form>
{% endblock %}